/* =============================================== CHANGES THORSTEN & PHILIPP ======================================== */

/**************************************
 *        CSS-Changes Thorsten        *
 **************************************/

/* =========== OVERALL-STYLES ========== */
/* ----- Headlines H3 ----- */
#content h3 a:hover { color: #7E2B99; }



/* ========== NAVIGATION ========== */
/*------ breadcrumb:; explicit width ----- */
#global .breadcrumb {
  width: 400px;
}

/* ----- breadcrumb: hide of elements ----- */
#global .breadcrumb .divider,
#global .breadcrumb .link-1,
#global .breadcrumb .link-2 {
    visibility: hidden;
}

/* ----- breadcrumb: hide of lock-symbol ----- */
#global .breadcrumb .space {
  float: right;
  visibility: hidden;
}

/* -------- Global Site Tooltip Overflow ---- */
#page {
  overflow: visible;
}


/* =========== NODE-ENTRIES =========== */
/* ----- entries: proper arrangement of tags ----- */
.node .field-item { clear: both; }


/* ----- entries: global formatting of link-size ----- */
.node .field-items a,
.node .terms .links a { font-size: 12px; }
.node .links, { font-size: 10px !important; }
.node .links a { font-size: 10px; }
.node .links .inline { font-size: 10px; }

.node .links .comment_forbidden span { font-size: 10px; }

/* ----- entries: divider between link-Elements (#280) ----- */
.node .links .upload_attachments > a:before { content: " | "; }
.node .links .upload_attachments > a:before { content: " | "; }
.node .links .comment_add > a:before { content: " | "; }
.node .links .comment_new_comments  > a:before { content: " | "; }
.node .links .comment_comments  > a:before { content: " | "; }
/* comment_forbidden analog, ist aber wengen linkfarbe in node.tpl.php als hardcoded geloest */
.node .links .node_read_more > a:before { content: " | "; } 
/* ---- hide flags link under blog -------- */
.node .links .flag-eventteilnahme { display: none; }
/* ------ Blog: Hide of New Comments ----- */
/*.node-blog .links .comment_add > a { display:none; } */



/* =========== Speichern-Button: Color-Adjustment (#316) ========== */
input[value="Speichern"] {
  background-color: #68A64C !important;
  color: #fff !important;
}

input[value="Speichern"]:hover {
  background-color: #609946 !important;
  background-image: none !important;
}



/* ========== Tooltips: Adjustment of position (#332) ========== */
/* ----- Common-Adjustment ----- */
.page-content .form-item .description {
  bottom: 43px !important;
}

/* ----- Twitter ----- */
#twitter-textfield-wrapper .description { 
  bottom: 0px !important;
  margin: 0px 0px 25px 0px;
}

/* ----- Projektinfo > Pfad, Default Role, Termine > Date, Art d. Veranst. ----- */
.page-content #edit-purl-value-wrapper .description,
.page-content #edit-og-user-roles-default-role-wrapper .description,
.page-content #edit-taxonomy-1-wrapper .description {
  bottom: 43px !important;
  left: 0px !important;
}

.page-content #edit-field-projectduration-0-value-datepicker-popup-0-wrapper .description, 
.page-content #edit-field-projectduration-0-value2-datepicker-popup-0-wrapper .description,
.page-content #edit-field-date-0-value-datepicker-popup-0-wrapper .description,
.page-content #edit-field-date-0-value-timeEntry-popup-1-wrapper .description,
.page-content #edit-field-date-0-value2-datepicker-popup-0-wrapper .description,
.page-content #edit-field-date-0-value2-timeEntry-popup-1-wrapper .description {
  width: 100px;
  right: 0px !important;
}


/* =========== Project-Info-Page (#303) ========== */
.node-project .group-projectinfo .field-label-inline-first,
.node-project .group-beteiligteinstitutionen .field-label,
.node-project .group-projectcontact .field-label-inline-first { text-transform: none !important; }
.node-project .group-projectinfo .field,
.node-project .group-projectcontact .field { padding: 0 0 0em !important; }
.node-project .group-beteiligteinstitutionen span.title { display: block; }
.node-event .group-projectcontact .field { padding: 0 0 0em !important; }


/* =========== Project-Organization ========== */
/* ----- Geo-Field: hidden (#240) ----- */
.node-organisation .field-field-org-location .adr .geo { display: none; }
.node-organisation .field-field-org-location .map-link a { font-size: 11px; }
.node-organisation .field-field-org-location .map-link a:before { content: ": "; }


/* ========== Project-Edit-Page ========== */
.node-type-project #node-form #field_projectemail_values .tableHeader-processed { display: table-header-group !important; }
.node-type-project #node-form .tabledrag-processed tbody tr:last-child input { margin-left:40px !important; }


  
/* ========== User-Konto Navigation ============ */
.page-user #page-tools #secondary-tabs ul { width: 600px; }
.page-user #page-tools #secondary-tabs li { margin: 0 28px; }
.page-user #page-tools #secondary-tabs li a { font-size: 14px; }
.page-user #page-tools #secondary-tabs li a.active { text-decoration: underline; }

/* ===== efs 302 aufklappen und schlissen von collapsibles ===== */
.page-content .content fieldset.collapsible.collapsed legend a { display:inline-block; }
.page-content .content fieldset.collapsible.collapsed legend a:after { content: " [+] "; }
.page-content .content fieldset.collapsible legend a { display:inline-block; }
.page-content .content fieldset.collapsible legend a:after { content: " [-] "; }



#page-tools .tabs #block-menu-features.block ul.menu li a.active_trail {
    background: none repeat scroll 0 0 #7E2B97; /*!important; */
    color: #FFFFFF !important;
    text-shadow: none;
    -webkit-border-radius: 0px;
}

/* ========================= PHILIPP ===================== */

div.content .field-field-ref-valuepartner {
  clear: left;
}

/* ----------------- eliminated dots within book-module ------ */
.block .prose #expanded-book ul li {
 margin: 0px;
 list-style: none;
}

.block .prose #expanded-book {
 font-size: 1.2em;
 list-style: none;
 border: 6px solid purple;
}

/* 2-spaltiges layout fuer projektpartner und value partner*/
div.field-field-ref-projectinstitutions .field-item table { width: 50% !important; float: left;}
div.field-field-ref-valuepartner .field-item table {width: 50% !important; float: left; }
 
/* clear fixes */
div.field-field-ref-projectinstitutions .field-item { clear: none !important; }
div.field-field-ref-valuepartner .field-item {clear: none !important; }

/* ---------------- Display: table #343 -------------------------- */
div.content .field-type-content-taxonomy ul {
  display: table;
}

.node div.content ul.links {
 /* display: table-row-group !important; */
}

/* --------------- Module flags ----------------------------------- */
div.content div.field-field-participants {
  padding: 0 0 0 0 !important;
}

div.content div.field-field-orglocation {
  padding: 0 0 0 0 !important;
}

div.content div.field-field-date {
  margin: -1em 0 0 0 !important;
}

div.content div.field-field-participants .view-content {
  display: table-row-group !important;
}

div.content div.field-field-participants .view-content .views-row {
  display: inline !important;
}

div.content div.field-field-participants .view-content .views-row span.username a {
  font-weight: normal !important;
  padding-right: 7px;
}

/*view transformation for teilnehmer flags*/
div.content div.field-field-participants .view-header {
  padding: 0 5px;
  width: 150px !important;
  display: block;
  float: left;
  margin: 0 10px 5px 0;
  background: #ECF4F8;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px
}

/*text transforms Teilnehmer header in view definiert*/
div.content div.field-field-participants .view-header p {
  font-size: 10px !important;
  color: #333;
}


div.content div.field-field-participants div.picture img {
  padding-right: 5px;
  padding-bottom: 5px;
}

div.content div.views-row {
  float: left;
}

div.content div.field-field-eventteaser {
  /* float: none; kann was kaputt machen*/ 
}

div.content div.field-field-participants .view-empty, .spaces-empty, p {
  color: #333;
  font-size: 11px;
  text-align: left;
  line-height: 11px;
  padding: 0px;
}

div.content .view-flag-termin-teilnahme .view-footer {
  margin: 5px 0 5px 165px;
}

/* div.content .flag.unflag-action.flag-link-normal ------ fuer unflag button */
div.content a.flag-link-normal {
  margin: 10px 0 0 170px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  background: #666 url(images/sprite_bleeds.png) 0px -400px repeat-x;
  text-shadow: #444 0px 1px 0px;
  border: 1px solid #555;
  border-color: #555 #555 #333;
  margin-left: 5px;
  padding: 4px 9px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: auto;
}

/* -------- visibility for single users now hidden #367 ------------------ */
#nodeaccess-grants-form div.search-form {
  display: none !important;
}

/* --- hides descriptive text for drop zone due to translation incompatibility --- */
div.drop-zone p {
  display: none;
}

div.drop-zone:after {
  display: block;
  font-size: 11.2px;
  line-height: 14.8px;
  content: "Ziehen Sie Dateien auf dieses Feld um sie schnell und einfach hochzuladen.";
  color: #999;
}


/* ------------ page numbers footer ----------- */
.pager li a.active {
    font-size: 12px !important;
    padding-left: 12px;
    padding-right: 12px;
}

.item-list ul li, .prose .item-list li, .menu li {
padding: 0px;
}

