/* DEMOSCREEN Stylesheet */
/* Purple: #7E2B97 */

#page {
  background: #fff;
}

.atrium-welcome-links a:hover, .atrium-welcome-links a:focus, .dropdown-blocks .block-toggle ul.links li a:hover, .dropdown-blocks .block-toggle ul.links li a:focus, .dropdown-blocks .block-toggle .item-list li a:hover, .dropdown-blocks .block-toggle .item-list li a:focus, .pager li.pager-current, .more-link a:hover, #navigation {
  background-color: #7E2B97 !important;
}

#navigation {
   background-image: url("img/menuhintergrund2.jpg") !important;
   -webkit-box-shadow: 0px 4px 10px #545454; /* webkit browser*/ -moz-box-shadow: 0px 4px 10px #545454; /* firefox */ box-shadow: 0px 4px 10px #545454;
}

#navigation a.logo {
  background-image: url("images/sprite_skin.png") !important;
  
  width: 400px;
  /* fuer breiteres logo auf hauptseite*/
  margin-left: -180px;
}

#navigation a.demoscreenlogo {
  background-image: url("images/sprite_skin.png") !important;

}


body.demoscreen_book #navigation a.logo {
  background-image: url("images/sprite_skin.png") !important;
  width: 60px;
  /* fuer schmaeleres logo auf demoscreen book seite*/
  margin-left: 0px;
}

.block .minipager li.pager-current span {
  color: #fff !important;	
}

ul#nice-menu-1 li a.active, ul#main-menu li a.active,
ul#nice-menu-1 li.active-trail a, ul#main-menu li.active-trail a {
  color: #E2007A;
}

/* FOOTER */
.sponsoren a {
    background-image: url("img/logoleiste72dpi.png");
}

.sponsoren #demoscreen {
	width: 140px;
	background-position: -520px 0;
}
.sponsoren #rwthaachen {
	width: 145px;
	background-position: -690px 0;
}
.sponsoren #imazlwifu {
	width: 125px;
	background-position: -865px 0;
}
.sponsoren #wi1 {
  width: 70px;
  background-position: -1015px 0;
}

.og-context #page-tools .page-title {
  text-transform: none;
}

/* OA Folders Feature */
.view-folders-navigation .views-row.active a {
  background-color: #7E2B97;
}

.view-profile-display .field-content .gmap-control{
padding: 0px;
} 
